body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  line-height: 1.5;
  background-color: slategrey;
  color: white; 

}


h1{
  font-family: verdana, arial, sans-serif;
}

button{
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea button{
  width:200px;
  height:200px;
  margin:2px;
}

#button1:active, #button1.lit{
  background: lightgreen;
}
#button2:active, #button1.lit{
  background: lightblue;
}

#button3:active, #button1.lit{
  background: pink;
}
#button4:active, #button1.lit{
  background: lightyellow;
}

.hidden{
  display:none;
}