body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  line-height: 1.5;
  background-color: slategrey;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

#button0 {
  background: lightgreen;
}

#button0:active,
#button0.lit {
  background: green;
}

#button1 {
  background: lightblue;
}

#button1:active,
#button1.lit {
  background: blue;
}

#button2 {
  background: #feb6b3;
}

#button2:active,
#button2.lit {
  background: red;
}

#button3 {
  background: lightyellow;
}

#button3:active,
#button3.lit {
  background: yellow;
}

.hidden {
  display: none;
}

#settings {
  background: black;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

#settings:hover {
  background: white;
  color: black;
}

.ACS:hover {
  background: black;
  color: white;
}

#settingsContainer {
  border: outset;

  text-align: right;
  background: rgba(250, 0, 0, 0.85);
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 10px;
}

#startBtn {
  transition: 0s;
}

#startBtn:hover {
  background: darkblue;
  transition: 50s;
}

#button4 {
  background: plum;
}

#button4:active,
#button4.lit {
  background: purple;
}

#button5 {
  background: rgb(196, 164, 132);
}

#button5:active,
#button5.lit {
  background: rgb(100, 70, 36);
}

#button6 {
  background: grey;
}

#button6:active,
#button6.lit {
  background: black;
}

#button7 {
  background: rgb(255, 213, 128);
}

#button7:active,
#button7.lit {
  background: rgb(238, 118, 0);
}

#button8 {
  background: #fe90cb;
}

#button8:active,
#button8.lit {
  background: #fd0287;
}

#button9 {
  background: rgb(248, 248, 255);
}

#button9:active,
#button9.lit {
  background: rgb(196, 174, 173);
}

#errorMessage {
  display: inline;
  position: fixed;
  background: red;
  left: 0px;
  bottom: 10px;
  text-align: center;
  width: 100%;

  visibility: hidden;
  opacity: 0;
  transition: opacity 90s, background 90s;

}

#errorMessage.show {
  visibility: visible;
  opacity: 100;

/*   background: red; */
  transition: opacity 0s, background 0s;
}
